<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}NEXTAGRAM
    </title>

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Nextagram</a>
      <ul>
        {% if current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('sessions.destroy')}}">Sign Out</a>
        </li>
        {% else %}
        <li>
          <a href="{{ url_for('sessions.new')}}">Sign In</a>
        </li>
        <li>
          <a href="{{ url_for('users.new')}}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
  </body>
</html>
